<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>Pike Admin - Free Bootstrap 4 Admin Template</title>
		<meta name="description" content="Free Bootstrap 4 Admin Theme | Pike Admin">
		<meta name="author" content="Pike Web Development - https://www.pikephp.com">

		<!-- Favicon -->
		<link rel="shortcut icon" href="assets/images/favicon.ico">

		<!-- Bootstrap CSS -->
		<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		
		<!-- Font Awesome CSS -->
		<link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		
		<!-- Custom CSS -->
		<link href="assets/css/style.css" rel="stylesheet" type="text/css" />		
		
		<!-- BEGIN CSS for this page -->
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>	
		<style>	
		td.details-control {
		background: url('assets/plugins/datatables/img/details_open.png') no-repeat center center;
		cursor: pointer;
		}
		tr.shown td.details-control {
		background: url('assets/plugins/datatables/img/details_close.png') no-repeat center center;
		}
		</style>		
		<!-- END CSS for this page -->
				
</head>

<body class="adminbody">
		
<div id="main">

    <!-- top bar navigation -->
    <% include navbarsup.ejs %>
	<!-- End Navigation -->
	
 
	<!-- Left Sidebar -->
	<% include menu %>
	<!-- End Sidebar -->


    <div class="content-page">
	
		<!-- Start content -->
        <div class="content">
            
			<div class="container-fluid">

							
				<div class="row">
						<div class="col-xl-12">
								<div class="breadcrumb-holder">
										<h1 class="main-title float-left">Recolectar resultados</h1>
										<ol class="breadcrumb float-right">
											<li class="breadcrumb-item">Home</li>
											<li class="breadcrumb-item active">Recolectar resultados</li>
										</ol>
										<div class="clearfix"></div>
								</div>
						</div>
				</div>
				<!-- end row -->

                    <body>
                        <div id="holder">
                            <%=  %>
                        </div>
                        <form>
                            <button type="button" id="HButton"> HELLO </button>
                        </form>
                    </body>

				
				<div class="row">
				
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">						
							<div class="card mb-3">
								<!-- <div class="card-header">
									<h3><i class="fa fa-table"></i> Clientes activos </h3>
									DataTables is a plug-in for the jQuery Javascript library. It is a highly flexible tool, based upon the foundations of progressive enhancement, and will add advanced interaction controls to any HTML table: pagination, instant search and multi-column ordering. <a target="_blank" href="https://datatables.net/">(more details)</a>
								</div> -->
									
								<div class="card-body">
									<div class="table-responsive">

											<table id="example1" class="table table-bordered table-hover display">
													<thead>
															<tr>
																	<th>Dirección IP</th>
																	<!-- <th>Socket ID</th> -->
																 </tr>
													</thead>		
													
															<% for (var i = 0; i < resultados.length; i++) { %>
															 <tr>
															   <td class="tdvalue"><%= resultados[i].direccionIP %></td>
															   <!-- <td><%= resultados[i].socketID%></td> -->
															 </tr>    
															<% } %>
														 </table>
											</table>
									</div>
									
								</div>														
							</div><!-- end card-->					
						</div>
                        
                        <!-- <table id="servers">
                                <thead>
                                  <tr>
                                    <th width="150">Server name</th>
                                    <th width="150">Client</th>
                                  </tr>
                                </thead>
                                <tbody>
                                </tbody>
                        </table> -->

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">						
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h3>Archivos maliciosos</h3>
                                </div>
                                    
                                <div class="card-body">
                                    
                                    <table id="recoleccion" class="table table-responsive-xl table-hover">
                                      <!-- <thead>
                                        <tr>
                                          <th scope="col"> Ruta o nombre</th>
                                        </tr>
                                      </thead> -->
                                      <tbody>
                                            <% if (resultados) { %>
                                            <% for (var i = 0; i < resultados.length; i++) { %>
                                                <tr>
                                                  <td class="tdvalue"><%= %></td>
                                                  <!-- <td><%= resultados[i].socketID%></td> -->
                                                </tr>    
                                               <% } } %>
                                      </tbody>
                                    </table>

                                </div>							
                            </div><!-- end card-->					
                        </div>
				</div>			
			


            </div>
			<!-- END container-fluid -->

		</div>
		<!-- END content -->

    </div>
	<!-- END content-page -->
    
	<!-- Footer -->
	<% include footer %>
	<!-- End Footer -->

</div>
<!-- END main -->

<script src="assets/js/modernizr.min.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/moment.min.js"></script>

<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<script src="assets/js/detect.js"></script>
<script src="assets/js/fastclick.js"></script>
<script src="assets/js/jquery.blockUI.js"></script>
<script src="assets/js/jquery.nicescroll.js"></script>

<!-- App js -->
<script src="assets/js/pikeadmin.js"></script>

<!-- BEGIN Java Script for this page -->
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

	<script>
	// START CODE FOR BASIC DATA TABLE 
	$(document).ready(function() {
		$('#example1').DataTable();
	} );
	// END CODE FOR BASIC DATA TABLE 
	
    </script>	
    
    <script>
        $(document).ready(function () {
            var my_div = $("#holder");
            $("#HButton").on("click", function () {
                $.ajax({
                url: "/api/books2"
            })
                .done(function( data ) {
                console.log( "Sample of data:", data );
                $('#holder').html(data.message);
          });
    
              /* Tell app.js that I clicked a button and then app.js
                 query the database and using ejs or something else update the
                 my_div inner html with the database result without
                 reloading page */
            });
        });

        $(document).ready(function(){
	// code to read selected table row cell data (values).
	$(".tdvalue").on('click',function(){
		 var filaActual = $(this).closest("tr");
		 var direccionIP = filaActual.find("td:eq(0)").text();
		 //var data=col1+"\n"+col2+"\n"+col3;
        //var dato = col1.text();
         //alert(col1);
        //  $.ajax({
        //     type: "get",
        //     data: {direccionIP: direccionIP},
        //     url: "/api/books",
        //     // success: function(response){
        //     //     console.log("exito");
        //     // },
        //     // error: function(xhr){
        //     //     console.log("error");
        //     // }
        //     })
        //         .done(function( data ) {
        //         console.log( "Sample of data:", data );
        //         for (i=0 ; i < resultados.length ; i++){
        //             var resultado = resultados[i];
        //             $('#servers tbody').append('<tr><td>'+resultado.direccionIP+'</td><td>'+resultado.direccionIP+'</td></tr>');
        //         }
        //     });

                //$('#holder').html(data.message);


            $.get('/api/books', {direccionIP: direccionIP}, function(data,fields) {
                console.log("data = " + data);
                var rows = data;
                for (i=0 ; i < rows.length ; i++){
                    var row = rows[i];
                    $('#recoleccion tbody').append('<tr><td>'+row.clasificacion+'</td><td>'+row.nombre+'</td></tr>');
                }
            });
                
         

          

	});
});


    </script>

<!-- END Java Script for this page -->

</body>
</html>